.tab-btn {
  background: transparent;
  outline: none;
  border-width: 0;
  color: #7b8794;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.tab-item {
  list-style-type: none;
  padding: 10px;
  border-bottom: 3px solid #dfe2e5;
}
.active-tab {
  color: #2563eb;
  border-bottom: 3px solid #2563eb;
  text-align: center;
}

.active-tab .tab-btn {
  color: #2563eb;
}
@media screen and (min-width: 768px) {
  .tab-btn {
    font-size: 20px;
    font-weight: 500;
    width: 120px;
  }
}
